@import url("https://fonts.googleapis.com/css?family=Roboto");

/* GLOBAL STYLES */
:root {
  --primary-color: #dc3545;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

/* ++++ */

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}
